<!-- public/index.html -->
<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <base href="/">

  <title>Mean-Scaffold</title>

  <!-- JS -->
  <script src="libs/angular/angular.min.js"></script>
  <script src="libs/angular-ui-router/release/angular-ui-router.js"></script>
  <script src="libs/jquery/dist/jquery.min.js"></script>
  <script src="libs/bootstrap/dist/js/bootstrap.min.js"></script>


  <!-- CSS -->
  <link rel="stylesheet" href="libs/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="libs/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="css/main.css">


  <!-- ANGULAR CUSTOM -->
  <script src="js/controllers/HomeCtrl.js"></script>

  <script src="js/services/HomeSvc.js"></script>

  <script src="js/Routes.js"></script>
  <script src="js/App.js"></script>

</head>

<body ng-app="App">
  
  <div ui-view></div>

</body>

</html>